/*span{*/
/*    color: #2C2C2C;*/
/*}*/

.service-background{
    background: #E5E5E5;
}
.service-welcome-header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2.5rem,4vw,34px);
    line-height: 100%;

    color: #2C2C2C;
}

.service-container-list{
    /*width: 100%;*/
    /*display: flex;*/
    /*gap: 24px;*/
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    /*grid-template-columns: 1fr;*/
    /*grid-gap: 2%;*/
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
}

.calendar{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /*gap: 4%;*/
    flex-direction: row;
}
.calendar-day{
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.calendar-check{
    width: 24px;
    height: 25px;
    left: 1px;
    top: 87px;

    background: #7B65FF;
    border-radius: 5px;
}

.service{
    display: grid;
    width: 100%;

    grid-template-columns: repeat(1, 1fr);
    /*grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));*/
    grid-gap: clamp(24px,1vw,32px);
    padding: clamp(1rem,2vw,60px);
}


.service-header-block{
    border-radius: 6px 6px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    width: 100%;
    /*padding: clamp(1rem,2vw,60px);*/
    padding: 50px clamp(1rem,2vw,60px);
    /*padding-top: 100px;*/
    /*background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);*/


    background-color: #F7F7F7;
    /*height: clamp(256px,46vh,256px);*/

    object-fit: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 60%;
}
.service-header{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: clamp(2rem,4vw,2.5rem);
    line-height: 100%;
    color: #2C2C2C;
}

.service-info{
    color: #2C2C2C;
    /*width: 100%;*/
    /*max-width: 340px;*/
}

.service-list{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;

}

.service-line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 0;
    justify-content: space-between;
    /*gap: 60px;*/
    color: #2C2C2C;

    width: 100%;
    border-bottom: 1px solid #DCDCDC;

    font-size: clamp(0.8rem,2vw,1rem);
}
.service-line-first{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    opacity: 0.5;
}
.service-primary-button{
    color: black;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 33px;
    gap: 10px;
    width: fit-content;
    background: transparent;
    border-radius: 36px;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 100%;
    border: solid 1px black;
}
.service-primary-button:hover {
    background-color: black;
    color: white;
}

.service-action-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    justify-content: center;
    gap: 20%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.service-navigation-button{
    color: var(--background);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*padding: 10px 22px;*/
    padding: 3%;
    gap: 10px;

    border: 1px solid #000000;
    border-radius: 10px;
}

.service-navigation-button:hover {
    background-color: black;
    color: white;
}

.service-navigation-container{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    gap: 8px 6px;
}

.service-search-container{
    width: 100%;
    /*max-width: 500px;*/
    display: flex;
    align-items: flex-start;
    gap: 24px;
    flex-direction: column;

}
.service-work-about-container{
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/


    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    padding: clamp(1rem,4vw, 60px);
    /*justify-content: center;*/
    /*padding: 35px 85px;*/
    /*padding-left: clamp(12px,4vw, 85px);*/
    /*padding-right: clamp(12px,4vw, 85px);*/
    /*padding: clamp(12px,2vw, 35px) clamp(12px,4vw, 85px);*/
    grid-gap: clamp(1vw,12vw,100px);


    background: #FFFFFF;
    border-radius: 8px;
}
.service-payment-block{
    background: #F5F5F5;
    border-radius: 7px;
    width: 100%;
    /*max-width: 100px;*/
    height: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    /*padding: 0px;*/
    /*gap: 10px;*/
    /*padding: 12px;*/
}
.service-payment-method-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 6px;
}
.work-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    width: 100%;
    /*max-width: 422px;*/
}
.service-work-block{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.service-time-container{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    align-items: center;
    padding: 13px 17px;
    gap: 22px;
    background: #F5F5F5;
    border-radius: 6px;
    width: 100%;
}
.service-time-watch{
    width: auto;
    height: clamp(100q,4vw,140px);
}

.service-tab-line{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 11px;
    gap: 22px;
    background: #F5F5F5;
    border-radius: 14px;
}
.service-lang-container{
    width: 100%;
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.currency{
    align-items: center;
    width: fit-content;
    padding: 8px 11px;
    background: #F5F5F5;
    border-radius: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 100%;


}

.service-page-currency-container{
    display: flex;
    width: 100%;
    gap: 10px;
    flex-direction: row;

}

.services-container{
    padding-top: 100px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.service-example-thumbnail{
    max-width: 150px;
    /*width: 100%;*/
    /*height: 250px;*/
    /*height: 100%;*/
    /*max-height: 250px;*/
    height: clamp(150px, 15vh, 400px);
}
.service-example-thumbnail .project-thumbnail{
    filter: grayscale(100) opacity(0.5);
    transition:  0.1s ease-in-out;
}
.service-example-thumbnail .project-thumbnail:hover{
    filter: grayscale(0);
}



.service-examples{
    /*width: 100%;*/
    /*max-width: 540px;*/
    display: grid;
    /*flex-direction: column;*/
    /*flex-wrap: wrap;*/
    gap: var(--grid-gap);
}

.service-container{
    max-width: 1024px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
}

.service-container-block{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 7px;
    box-shadow: 2px 5px 21px rgba(210, 210, 210, 0.25)
}

.service-examples-container{
    width: 100%;
    /*width: 544px;*/
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    /*gap: 24px;*/
    /*display: grid;*/
    /*grid-template-columns: repeat(2, 100px);*/
    grid-gap: clamp(1%,4vw,24px);
}

.service-prices{
    width: 100%;
    /*max-width: 340px;*/
    /*grid-column-start: 1;*/
    /*grid-column-end: 4;*/
    /*grid-row-start: 1;*/
    /*grid-row-end: 3;*/
}
