<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="stylesheet" href="/css/main.css" media="all">
  <link rel="stylesheet" href="/css/mediaq.css" media="all">
  <link rel="stylesheet" href="/css/price.css" media="all">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="canonical" href="https://gleb.shishov.me/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5,">
  <meta name="description"content="Gleb Shishov,art director and head of design. Co-founder of 'Theoretical Studio' game studio. Co-founder of the NFT services 'Fusion Punks'. 6 years of experience in design, developed products for large corporations and startups.">
  <meta name="keywords" content="head-of-design,portfolio,gleb-shishov,art-director,designer,Gleb,Shishov,guru-collective,GURU-Collective,креативный директор,арт директор,дизайн,design,дизайнер,графический дизайн, дизайн студия, дизайн сайта">
  <meta name="robots" content="all,max-image-preview:large,max-video-preview:0,max-snippet:20">
  <meta name="google-site-verification" content="0furHXNWh_TbU2LuL5XikULgcSqrQ3o0UxubGDdf0Xg"/>

  <!-- social media meta -->
  <meta property="og:locale" content="ru_RU">
  <meta name="theme-color" content="#000000">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Gleb Shishov Portfolio">
  <meta property="og:description" content="Gleb Shishov,art director and head of design. Co-founder of 'Theoretical Studio' game studio. Co-founder of the NFT services 'Fusion Punks'. 6 years of experience in design, developed products for large corporations and startups.">
  {% if page.thumbnail %}
  <meta property="og:image" content="{{ page.thumbnail }}">
  {% else %}
  <meta property="og:image" content="/site-thumbnail.jpg">
  {% endif %}
  <meta property="og:url" content="https://gleb.shishov.me/">
  <meta property="og:site_name" content="Gleb Shishov Portfolio">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="wrapper">
  <div class="container navigation-bar" id="navbar">
    <div class="nav-bar-left">
      <a class="nav-button" href="/">Gleb Shishov</a>
    </div>
    <div class="nav-bar-right">
      <a class="nav-button" href="/service">Services</a>
      <a class="nav-button" href="/about" >About</a>
      <a class="contact-container" href="/contact">
        Contact
        <img src="/img/avatar.jpg" class="nav-bar-avatar" alt="avatar">
      </a>
    </div>
  </div>
</div>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(92789711, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/92789711" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  {{ content }}
</body>
<script src="/js/hidenavbar.js"></script>
</html>
