<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/grids.css">
  <link rel="stylesheet" href="/css/newstyle.css">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="image_src" href="/site-thumbnail.jpg">
  <link rel="canonical" href="https://nftprotect.app/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="nft,safe,protect,blockchain">
  <meta name="robots" content="noindex,nofollow">

  <!-- social media meta -->
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="article">
  <meta property="og:title" content="NFTprotect">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="/site-thumbnail.jpg">
  <meta property="og:url" content="https://nftprotect.app/">
  <meta property="og:site_name" content="NFTprotect">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="wrapper">
  <div class="container navigation-bar">
    <div class="nav-bar-left">
      <a href="/index.html"><img src="/img/logotype.svg" class="main-logo" alt="logotype"></a>
    </div>
    <div class="nav-bar-right">
      <a class="nav-button" href="/about">About</a>
      <a class="nav-button" href="">Contact</a>
      <img src="/img/avatar.jpg" class="nav-bar-avatar" alt="avatar">
    </div>
  </div>
</div>
  {{ content }}
</body>
</html>