<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{% endif %}</title>
<!--  {{ site.title }}-->
  <link rel="manifest" href="/site.webmanifest">
  <link rel="apple-touch-icon" href="/icon.png">
  <link rel="stylesheet" href="/css/main.css" media="all">
  <link rel="stylesheet" href="/css/mediaq.css" media="all">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="image_src" href="/site-thumbnail.jpg" {% post.thumbnail %}>
  <link rel="canonical" href="https://gleb.shishov.me/">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description" content="Gleb Shishov,art director and head of design. Co-founder of 'Theoretical Studio' game studio. Co-founder of the NFT services 'Fusion Punks'. 6 years of experience in design, developed products for large corporations and startups.">
  <meta name="keywords" content="head-of-design,portfolio,gleb-shishov,art-director,designer,Gleb,Shishov,guru-collective,GURU-Collective">
  <meta name="robots" content="noindex,nofollow,max-image-preview:large">
  <meta name="googlebot-news" content="all,nofollow,max-image-preview:large">
  <meta name="googlebot" content="all,nofollow,max-image-preview:large">

  <!-- social media meta -->
  <meta property="og:locale" content="ru_RU">
  <meta property="og:type" content="article">
  <meta property="og:title" content="Gleb Shishov Portfolio">
  <meta property="og:description" content="Gleb Shishov,art director and head of design. Co-founder of 'Theoretical Studio' game studio. Co-founder of the NFT services 'Fusion Punks'. 6 years of experience in design, developed products for large corporations and startups.">
  <meta property="og:image" content="/site-thumbnail.jpg">
  <meta property="og:url" content="https://gleb.shishov.me/">
  <meta property="og:site_name" content="Gleb Shishov Portfolio">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
<div class="wrapper">
  <div class="container navigation-bar" id="navbar">
    <div class="nav-bar-left">
      <a class="nav-button" href="/index.html">Gleb Shishov</a>
    </div>
    <div class="nav-bar-right">
      <a class="nav-button" href="/about">About</a>
      <a class="contact-container" href="/contact.html">
        Contact
        <img src="/img/avatar.jpg" class="nav-bar-avatar" alt="avatar">
      </a>
    </div>
  </div>
</div>
  {{ content }}
</body>
<script src="/js/hidenavbar.js"></script>
</html>
