---
layout: meta-info
---
  <div class="wrapper top-padding">
    <div class="container project-swap-container">
      <a class="project-swap-button" href="{{page.previous.url}}"> <== Previous project</a>
      <a class="project-swap-button" href="{{page.next.url}}">Next project ==></a>
    </div>
    <div class="container project-container">
      <div class="project-info-container">
        <div class="project-page-info">
          <p class="project-name">{{ page.title }}</p>
          <p class="projet-type">{{ page.subtitle }}</p>
          {{ content }}
          <div class="stats-container">
            <div class="info-container">
              <div class="info-line"></div>
              <div class="info-stats">
                <p class="info-sub">125 projects</p>
                <p class="info-time">{{ page.projectend }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="project-img-container">
        {% for image_url in page.images %}
        <img class="project-img-big" src="{{ image_url }}" alt="{{page.title}}-img">
        {% endfor %}
      </div>
    </div>
  </div>